* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.quadrado{
    width: 100vw;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circulos{
    width: 100vw;
    padding: 200px;
    background-color:yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quadrado div{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.circulos div{
    width: 100px;
    padding: 100px;
    background-color: aqua;
    border-radius: 50%;

}