* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.quadrado{
    width: 100vm;
    height: 200px;
    background-color: brown;

}
.circulos{
    width: 100vw;
    padding: 200px;
    background-color: aqua;

}